* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

main {
    height: 100%;
    width: 100%;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    border: 15px solid white;
    overflow: hidden;


}

.Home {
    background-image: url(first.png);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: absolute;
    top: 20px;
    width: calc(100% - 50px);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

nav i {
    font-size: 30px;
    color: white;
}

nav .nav-right ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 35px;
    font-size: large;
    font-weight: 700;
    color: rgb(255, 255, 255);

}

.nav-right i {
    display: none;
}

nav .nav-right ul li:hover {
    text-decoration: underline;
    cursor: pointer;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container h1 {
    display: inline-block;
    font-size: 8rem;
    font-weight: bolder;

}

.container p {
    font-size: 2rem;
    text-transform: uppercase;
}

.container .line {
    width: 28px;
    height: 5px;
    background-color: white;
}

.cards-container {
    background-color: #f5f7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;

}

.cards-container .line {
    width: 90px;
    height: 4px;
    background-color: black;
}

.cards-container h1 {

    display: inline-block;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.cards {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

.card {
    width: 24%;
    height: 82%;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.card img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.card .description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    flex-direction: column;
    gap: 10px;
}

.description div {
    width: 39px;
    height: 3px;
    background-color: rgb(0, 0, 0);
}

.About-pg {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.about-head {
    display: inline-block;
}

.about-desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.about-desc h1,
p {
    display: inline-block;
}

.about-desc h1 {
    margin-top: 80px;
    font-size: 3.6rem;
}

.about-desc p {
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 40px;
}

.about-desc .line {
    width: 78px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin-top: -2px;
    margin-bottom: 50px;
}

.contact {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;

}

.contact .contact-top {
    width: 100%;
    background-color: #f5f7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact-top h1 {
    font-size: 3.7rem;
}

.contact-top input {
    text-transform: none;
    padding-left: 30px;
    height: 35px;
    width: 18%;

}

.contact-top input::placeholder {
    font-family: 'Courier New', Courier, monospace;
}

.contact-top button {
    font-size: 18px;
    background-color: lightgreen;
    color: white;
    padding: 9px 13px;
    border-radius: 10px;
    border: none;
}

.contact-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-soc i {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.contact-bottom ul {
    display: flex;
    gap: 20px;
}

.contact-link ul li,
a {
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    color: black;
    cursor: pointer;
}

@media (max-width:590px) {
    .page {
        border: 8px solid white;
    }

    .nav-right ul li {
        display: none;
    }

    .nav-right i {
        display: block;
    }

    .Home {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        margin-top: 170px;
    }

    .Home .container h1 {
        font-size: 3.8rem;
    }

    .container p {
        font-size: 1rem;
    }

    /* page2 */
    .cards-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        padding-bottom: 40px;
    }

    .cards-container h1 {
        margin-top: 25%;
        font-size: 1.9em;
        font-weight: 600;
        margin-bottom: -5px;
    }

    .cards-container .line {
        margin-bottom: 20px;
    }

    .cards-container .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 95%;
        height: 500px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }

    .card img {
        height: 50%;
    }

    .card .description {
        height: 50%;
        background-color: white;
    }

    .About-pg{
        margin-top: 20px ;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .About-pg .about-image{
        height: 30%;
    }
    .About-pg .about-image img{
        width: 99.5%;
        height: 100%;
    }
    .About-pg .about-desc{
        gap: 12px;
        padding: 0px 20px;
    }
    .About-pg .about-desc .line{
        margin-bottom: 0px;
    }
    .About-pg .about-desc p{
        font-size: 17px;
        line-height: 27px;
        padding-top: 0;
        text-align: center;
        text-transform: none;
    }

    .contact{
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    .contact .contact-top{
        display: flex;
        flex-direction: column ;
        height: 400px;
    }
    .contact-top input{
        width: 300px;
        
    }
    .contact .contact-bottom .contact-div
    {
        padding-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px ;

    }
    .contact-div .contact-link ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-link{
        font-weight: 700;
    }
    .contact-soc i{
        font-size: 30px;
    }

}